@import "tailwindcss";
@import "react-modern-drawer/dist/index.css";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

/* Overall scrollbar size */
::-webkit-scrollbar {
  width: 10px; /* vertical scrollbar width */
  height: 10px; /* horizontal scrollbar height */
}

/* Scrollbar track (background area) */
::-webkit-scrollbar-track {
  /* background: rgba(0, 0, 0, 0.2); */
  border-radius: 10px;
  /* box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.25); */
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90, 0.8);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

/* Scrollbar thumb on hover make it background color if not hover zoom */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(120, 120, 120, 0.9);
}

/* Scrollbar thumb when active (being clicked) */
::-webkit-scrollbar-thumb:active {
  background-color: rgba(150, 150, 150, 1);
}

/* Scrollbar corner where horizontal and vertical scrollbars meet */
::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0.2);
}
